<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <img class="logo" src="assets/images/citrus.svg" alt="Logo" />
      <div class="forgot-password-box">
        <div class="title">Forgot Password</div>
        <div class="subtitle">Login and continue booking refeer container online</div>
        <div class="input-wrapper">
          <label for="emailInput">Email</label>
          <input id="emailInput" type="email" formControlName="email" placeholder="Enter Email address" />
          <div class="error-message" *ngIf="email.invalid && (email.dirty || email.touched)">
            <!-- <div *ngIf="email.errors?.required">Email is required</div> -->
            <span class="text-danger" *ngIf="email.errors?.['email']">Invalid email address</span>
          </div>
        </div>
        <div class="button-wrapper">
          <button class="login-button" [disabled]="forgotPasswordForm.invalid">Submit</button>
        </div>
        <div class="link-wrapper">
          <a class="back-link" [routerLink]="['/login']">Back to login</a>
          <a class="register-link" [routerLink]="['/sign-up']">Register</a>
        </div>
      </div>
    </div>
  </form>
  