<div class="service-container">
    <div class="container">
        <div class="coming-soon-container">
            <img src="assets/images/citrus.svg" alt="Logo" class="logo">
            <div class="waviy">
                <span style="--i:1">C</span>
                <span style="--i:2">o</span>
                <span style="--i:3">m</span>
                <span style="--i:4">i</span>
                <span style="--i:5">n</span>
                <span style="--i:6">g</span>
                <span style="--i:7">&nbsp;&nbsp;</span>
                <span style="--i:8">S</span>
                <span style="--i:9">o</span>
                <span style="--i:10">o</span>
                <span style="--i:11">n</span>
                <span style="--i:12">.</span>
                <span style="--i:13">.</span>
               </div>
            <p class="description">Stay tuned for exciting updates!</p>
          </div>
          
    </div>
</div>
