<div class="multi-card">
    <div class="container">
        <div class="title">
            What makes <span>Citrus</span> India’s Best Reefer Container Booking App?
        </div>
        <div class="card-section">
            <div class="card-container">
                <img src="assets/images/banana.svg" alt="">
                <div class="title banana">Perishable experts</div>
                <div class="description">
                    Let your consignment get handled by experts in perishable shipping, India’s to perishable exports work with Citrus
                </div>
            </div>
            <div class="card-container">
                <img src="assets/images/calendar.svg" alt="">
                <div class="title calendar">Perishable experts</div>
                <div class="description">
                    Let your consignment get handled by experts in perishable shipping, India’s to perishable exports work with Citrus
                </div>
            </div>
            <div class="card-container">
                <img src="assets/images/dollar.svg" alt="">
                <div class="title dollar">Perishable experts</div>
                <div class="description">
                    Let your consignment get handled by experts in perishable shipping, India’s to perishable exports work with Citrus
                </div>
            </div>
            <div class="card-container">
                <img src="assets/images/support.svg" alt="">
                <div class="title support">Perishable experts</div>
                <div class="description">
                    Let your consignment get handled by experts in perishable shipping, India’s to perishable exports work with Citrus
                </div>
            </div>
            <div class="card-container">
                <img src="assets/images/whatsapp.svg" alt="">
                <div class="title whatsapp">Perishable experts</div>
                <div class="description">
                    Let your consignment get handled by experts in perishable shipping, India’s to perishable exports work with Citrus
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <img src="assets/images/bottom.svg" alt="">
</div>
