<div class="sidenav">
    <div [routerLink]="['/home/search']" routerLinkActive='active' class="menu-item">
      <div class="icon-circle">
        <img src="assets/images/search.svg" alt="Search">
      </div>
      <div class="label">Search</div>
    </div>
    <div [routerLink]="['/home/orders']" routerLinkActive='active' class="menu-item">
      <div class="icon-circle">
        <img src="assets/images/document.svg" alt="Orders">
      </div>
      <div class="label">My Orders</div>
    </div>
    <div [routerLink]="['/home/services']" routerLinkActive='active' class="menu-item">
      <div class="icon-circle">
        <img src="assets/images/appadd.svg" alt="Services">
      </div>
      <div class="label">Services</div>
    </div>
    <div [routerLink]="['/home/profile']" routerLinkActive='active' class="menu-item">
      <div class="icon-circle">
        <img src="assets/images/user.svg" alt="Profile">
      </div>
      <div class="label">Profile</div>
    </div>
    <div [routerLink]="['/home/help']" routerLinkActive='active' class="menu-item">
      <div class="icon-circle">
        <img src="assets/images/help.svg" alt="Help">
      </div>
      <div class="label">Help</div>
    </div>
  </div>
  