<div class="user-container">
    <div class="title">User Details</div>
    <hr>
    <div class="user-details">
        <div class="left-side">
            <div class="info-row">
                <div class="label">Full Name:</div>
                <div class="value">Sunil Gauswami (super admin)</div>
              </div>
              <div class="info-row">
                <div class="label">Mobile Number:</div>
                <div class="value">9033561426</div>
              </div>
              <div class="info-row">
                <div class="label">Department:</div>
                <div class="value">CS</div>
              </div>
              <div class="info-row">
                <div class="label">Designation:</div>
                <div class="value">Assistant Manager</div>
              </div>
        </div>
        <div class="right-side">
            <div class="info-row">
                <div class="label">Company:</div>
                <div class="value">48429ANK450</div>
              </div>
              <div class="info-row">
                <div class="label">Email Id:</div>
                <div class="value">sunil.gauswami@boxnbize.com</div>
              </div>
              <div class="info-row">
                <div class="label">Branch:</div>
                <div class="value">Boxnbiz New</div>
              </div>
        </div>
    </div>
    <button class="update-button">
      <span class="button-text"><i class="fa-regular fa-pen-to-square pe-2"></i> Update Details</span>
    </button>
      
</div>