<div class="offer-container">
    <div class="left-side">
        <div class="title">
            How To Book With Us ?
        </div>
        <img src="assets/images/offer.svg" alt="">
    </div>
    <div class="right-side">
        <div class="title">
            Offers
        </div>
        <div class="offers">
            <div class="left">
                <img src="assets/images/offer1.svg" alt="">
                <button>Use Code : Citrus50 <i class="fa-solid fa-copy"></i></button>
            </div>
            <div class="right">
                <img src="assets/images/offer2.svg" alt="">
                <button>Use Code : Citrus50 <i class="fa-solid fa-copy"></i></button>
            </div>
        </div>
    </div>
</div>